/* Add Styling to Admin Area */

/*----------------------------------------------------
	RECOMMENDED PLUGINS
---------------------------------------------------- */

/* Ready Google Maps */
#gmpWelcomePageFindUsForm .about-message,
#gmpWelcomePageFindUsForm .plug-icon-shell,
#gmpWelcomePageFindUsForm > h2,
#gmpWelcomePageFindUsForm label,
#gmpWelcomePageFindUsForm .col-3,
.gmpAdminFooterShell {
	display: none !important;
}

#gmpEditMapForm > div:nth-child(4),
#gmpEditMapForm > div:nth-child(5),
#gmpEditMapForm > div:nth-child(6),
#gmpEditMapForm > div:nth-child(7),
#gmpEditMapForm > div:nth-child(9),
#gmpEditMapForm > div:nth-child(11),
#gmpEditMapForm > div:nth-child(24) {
    display: none !important;
}


/*----------------------------------------------------
	HIDE WOOCOMMERCE TRACKER / PROMOTIONAL MESSAGE
---------------------------------------------------- */

.woocommerce-message.woocommerce-tracker {
	display: none !important;
}


/*----------------------------------------------------
	HIDE REDUX PROMOTIONAL MESSAGE
---------------------------------------------------- */

[id*="redux_blast_"].redux-notice {
	display: none !important;
}


/*---------------------------------------------------- 
	META BOXES
---------------------------------------------------- */

/* Font styles for CMB meta boxes */
table.cmb_metabox td label {
  font-size: 13px !important;
  vertical-align: middle !important;
}

/* Hide image sizes from in-page ThinkUpSlider */
#_thinkup_meta_sliderimages .imgpreview .sizes,
#_thinkup_meta_sliderimages .imgpreview .preview {
	display: none;
}

/* Custom styling for side metabox - Featured Media */
._thinkup_meta_featuredmedia th,
._thinkup_meta_featuredmediatype th,
._thinkup_meta_featuredmediamain th {
	width: 100% !important;
	text-align: left !important;
	border-bottom: none !important;
	padding-bottom: 10px !important;
}
._thinkup_meta_featuredmedia input[type=text],
._thinkup_meta_featuredmediatype select,
._thinkup_meta_featuredmediamain select {
	width: 90% !important;
	margin-bottom: 10px !important;
}
._thinkup_meta_featuredmedia p,
._thinkup_meta_featuredmediatype p,
._thinkup_meta_featuredmediamain p {
	font-size: 13px !important;
}


/*---------------------------------------------------- 
	HIDE META OPTION FROM SHORTCODE CATEGORIES LIST
---------------------------------------------------- */
#thinkupshortcodes-categories option[value="metaoptions"] {
	display: none;
}


/*---------------------------------------------------- 
	HIDE IN-DEVELOPMENT FEATURES
---------------------------------------------------- */

#section-thinkup_portfolio_style fieldset ul li:nth-child(2),
#section-thinkup_project_navigationswitch,
section-thinkup_portfolio_textcheck {
	display: none;
}
#section-thinkup_styles_colorscheme,
._thinkup_meta_colorscheme {
	display: none;
}


/*---------------------------------------------------- 
	FIX REDUX IMAGE ISSUE - MEDIA UPLOADER
---------------------------------------------------- */

.redux-slides-image {
	max-height: 340px;
	max-width: 340px;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #E3E3E3;
	background: #F7F7F7;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


/*---------------------------------------------------- 
	FIX STYLING ISSUES WHEN USING DEMO INSTALLER
---------------------------------------------------- */

body {
	background: none;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
}

/* Hide Map Errors */
/*.appearance_page_easint .xdebug-error.xe-warning {
    display: none !important;
}*/


/*---------------------------------------------------- 
	PAGE BUILDER - CALDERA PAGE BUILDER MODULES STYLING
---------------------------------------------------- */

/* General - Remove button for grouped shortcodes aligned left */
[class*="thinkup-content-thinkup_builder_"] .thinkupshortcodes-removeRow {
    float: left !important;
    margin: 0 0 25px !important;
}

.panel-dialog .imgpreview .noselection {
	margin-top: 45px !important;
}
.panel-dialog .imgpreview .sizes {
	width: 60px;
	font-size: 12px;
}
.imgpreview .sizes[class*="column"],
.imgpreview .sizes[class*="sc"],
.imgpreview .sizes[class*="shop"],
.imgpreview .sizes[class*="_"] {
	display: none;
}

/* Slideshow (Image) Module */
.media-modal {
	z-index: 300011;
}
.widget-dialog-thinkup_builder_sliderimage,
.thinkup-content-thinkup_builder_sliderimage {
	overflow: hidden;
}
.widget-dialog-thinkup_builder_sliderimage [class*="shortcodes-groupbox"],
.thinkup-content-thinkup_builder_sliderimage [class*="shortcodes-groupbox"] {
	margin-bottom: 50px;
}
.widget-dialog-thinkup_builder_sliderimage [class*="shortcodes-widget-config-content"],
.thinkup-content-thinkup_builder_sliderimage [class*="shortcodes-widget-config-content"] {
	width: 613px;
	padding-right: 140px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.thinkup-content-thinkup_builder_sliderimage [class*="shortcodes-widget-config-content"] {
	width: 100%;
}
.widget-dialog-thinkup_builder_sliderimage .imgpreview .noselection,
.thinkup-content-thinkup_builder_sliderimage .imgpreview .noselection {
	margin-top: 45px !important;
}
.widget-dialog-thinkup_builder_sliderimage .imgpreview .sizes,
.thinkup-content-thinkup_builder_sliderimage .imgpreview .sizes {
	width: 80px;
}
.widget-dialog-thinkup_builder_sliderimage .imgpreview [class*="column"],
.widget-dialog-thinkup_builder_sliderimage .imgpreview [class*="sc"],
.thinkup-content-thinkup_builder_sliderimage .imgpreview [class*="column"],
.thinkup-content-thinkup_builder_sliderimage .imgpreview [class*="sc"] {
	display: none;
}

/* Slideshow (ThinkUpSlider) Module */
.widget-dialog-thinkup_builder_thinkupslider,
.thinkup-content-thinkup_builder_thinkupslider {
	overflow: hidden;
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-groupbox"],
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-groupbox"] {
	margin-bottom: 50px;
	padding-bottom: 50px;
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-groupbox"] > h3,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-groupbox"] > h3 {
	display: none;
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-removeRow"],
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-removeRow"] {
	margin-bottom: 20px;
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-widget-config-content"],
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-widget-config-content"] {
	width: 613px;
	padding-right: 140px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-widget-config-content"] {
	width: 100%;
}
.widget-dialog-thinkup_builder_thinkupslider .imgpreview .noselection,
.thinkup-content-thinkup_builder_thinkupslider .imgpreview .noselection {
	margin-top: 45px !important;
}
.widget-dialog-thinkup_builder_thinkupslider .imgpreview .sizes,
.thinkup-content-thinkup_builder_thinkupslider .imgpreview .sizes {
	width: 80px;
}
.widget-dialog-thinkup_builder_thinkupslider .imgpreview [class*="column"],
.widget-dialog-thinkup_builder_thinkupslider .imgpreview [class*="sc"],
.thinkup-content-thinkup_builder_thinkupslider .imgpreview [class*="column"],
.thinkup-content-thinkup_builder_thinkupslider .imgpreview [class*="sc"] {
	display: none;
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"],
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] {
	display: table;
	width: 100%;	
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] label,
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] input,
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] select,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] label,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] input,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] select {
	font-size: 13px;
	display: table-cell;
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] label,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] label {
	width: 150px;
	vertical-align: top;
}
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] input,
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] textarea,
.widget-dialog-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] select,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] input,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] textarea,
.thinkup-content-thinkup_builder_thinkupslider [class*="shortcodes-field-row"] select {
	width: 290px;
}

/* Tabs */
.widget-dialog-thinkup_builder_tabs,
.thinkup-content-thinkup_builder_tabs {
	overflow: hidden;
}
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-groupbox"],
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-groupbox"] {
	margin-bottom: 50px !important;
}
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-widget-config-content"],
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-widget-config-content"] {
	width: 613px;
	padding-right: 140px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-widget-config-content"] {
	width: 100%;
}
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"],
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] {
	display: table;
	width: 100%;	
}
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"] label,
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"] input,
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"] select,
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] label
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] input
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] select {
	font-size: 13px;
	display: table-cell;
}
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"] label,
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] label {
	width: 150px;
	vertical-align: top;
}
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"] input,
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"] textarea,
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-field-row"] select,
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] input,
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] textarea,
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-field-row"] select {
	width: 290px;
}
.widget-dialog-thinkup_builder_tabs [class*="shortcodes-groupbox"] .button,
.thinkup-content-thinkup_builder_tabs [class*="shortcodes-groupbox"] .button {
	margin: 20px 0 !important;
}

/* Toggle / Accordion */
.widget-dialog-thinkup_builder_toggle,
.thinkup-content-thinkup_builder_toggle {
	overflow: hidden;
}
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-groupbox"],
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-groupbox"] {
	margin-bottom: 50px !important;
}
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-widget-config-content"],
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-widget-config-content"] {
	width: 613px;
	padding-right: 140px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-widget-config-content"] {
	width: 100%;
}
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"],
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] {
	display: table;
	width: 100%;	
}
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"] label,
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"] input,
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"] select,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] label,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] input,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] select {
	font-size: 13px;
	display: table-cell;
}
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"] label,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] label {
	width: 150px;
	vertical-align: top;
}
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"] input,
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"] textarea,
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-field-row"] select,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] input,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] textarea,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-field-row"] select {
	width: 290px;
}
.widget-dialog-thinkup_builder_toggle [class*="shortcodes-groupbox"] .button,
.thinkup-content-thinkup_builder_toggle [class*="shortcodes-groupbox"] .button {
	margin: 20px 0 !important;
}


/*---------------------------------------------------- 
	HIDE UPDATE NOTICE ON UPDATE-CORE PAGE
---------------------------------------------------- */

.update-php #thinkup-theme-update,
.update-core-php #thinkup-theme-update {
	display: none;
}